@import '../scss/reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

// <Переменные> ============================================================================================================================================
$black-pure: #000;
$fontColor: #fff;
$purple: #5C62EC;
$black: #171718;
$blackBorder: #26292D;
$white: #fff;

$text-color: $black;
$dark-bg: $black;
$dark-border: $blackBorder;
$header-text: $white;
$accent: $purple;

// Light mode
$page-bg: $white;

// </Переменные> ============================================================================================================================================

// <Утилиты> ============================================================================================================================================
.none {
    display: none !important;
}
.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -100000px;
    background: transparent;
    font-size: 0;
}
.no-scroll {
    overflow: hidden;
}
// </Утилиты> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// <Сетка и Базовые> ============================================================================================================================================
body {
    display: flex;
    flex-direction: column;

    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $text-color;
    letter-spacing: -0.5px;
    // font-family: 'Poppins', sans-serif;

    background-color: $page-bg;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
// </Сетка> ============================================================================================================================================

// <Импорт> ============================================================================================================================================

@import '../scss/repeat';
@import '../scss/nav';
@import '../scss/header';
@import '../scss/projects';
@import '../scss/footer';
@import '../scss/project-details';
@import '../scss/skills';
@import '../scss/adaptive';
@import '../scss/dark-theme';
